@import '../../styles/index.scss';

.main {
  display: flex;
  justify-content: center;

  &Content {
    width: $wrapper-width;
    padding: 0 20px;
  }

  @include mobile-all {
    .main {
      &Content {
        padding: 0 10px;
      }
    }
  }

  @include mobile-xs {
    .main {
      &Content {
        padding: 0;
      }
    }
  }
}
