@import '../../styles/index.scss';

.home {
  &Content {
    margin-top: 160px;
    margin-bottom: 20px;

    &Search {
      @include card;
      height: 64px;
      margin-bottom: 20px;
    }

    &Body {
      @include card;
      min-height: 772px;
      padding: 23px 16px 4px;
    }
  }
}
